<div class="container">
    <div class="row text-center mb-4">
    {% if not endoftournament %}
        <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn + 1 }) }}" class="btn btn-next-turn d-inline w-auto m-auto btn-lg" role="button"> Tour suivant </a>
    {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% if turn > 0 %}
            <div class="col text-end">
                <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn - 1 }) }}" class="btn btn-primary btn-prev-turn btn-lg w-auto"> Tour précédent </a>
            </div>
            {% endif %}
            <div class="col {% if turn > 0 %} text-start {% else %} text-center {% endif %}">
                <a href="{{ path('tournament.result', {'id' : tournamentid}) }}" class="btn btn-show-results btn-lg w-auto mb-3"> Voir les résultats </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-end">
                <a href="#" class="btn btn-show-results btn-lg w-auto mb-3 btn-success" data-bs-toggle="modal" data-bs-target="#confirmationModal"> {{ ux_icon('icomoon-free:user-plus' , {width: '25px'}) }} </a>
            </div>
            <div class="col text-start">
                <a href="#" class="btn btn-primary btn-prev-turn btn-lg w-auto btn-danger"> {{ ux_icon('icomoon-free:user-minus' , {width: '25px'}) }} </a>
            </div>
        </div>
    </div>
</div>
<!-- Modal de confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Ajouter un joueur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir ajouter un joueur ? <br/>
        Le joueur rejoindra le tournoi au prochain tour
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success" id="confirmDelete">Confirmer</button>
      </div>
    </div>
  </div>
</div>