{% extends 'base.html.twig' %}

{% block title %}Badmintrain | Manche {{turn + 1}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="container-fluid text-center py-5">
        {% for match in matches %}
            {% if match.teams[0].replayed is defined and match.teams[0].replayed %}
                <small> teams 1 replayed </small>
            {% endif %}
            <div class="card mx-3 mb-5 terrain_{{ match.terrain }} terrain" 
                style="width: 18rem; display: inline-block; height: 20rem;"  
                {{ match.id is defined and match.id ? 'data-matchid=' ~ match.id : '' }}
                {{ stimulus_controller('winner') }}>
                <div class="card-header text-uppercase">
                    <b>terrain {{ match.terrain }}</b>
                </div>
                <div class="terrain-content">
                    <div>
                    {% if match.teams[0] is empty and match.teams[1] is empty %} {# if there is no team defined we don't want to show that #}
                        <div class="wrapper-no-match bg-white">
                            <span style="position: absolute;width: 100%;left: 0.25rem;top: 5rem;">Pas de match sur ce terrain</span>
                        </div>
                    {% else %}
                        <div class="left corridor"></div>
                        <div class="winner-selected" data-teamid={{ match.teams[0].id }} {{ stimulus_action('winner','setWinner','click') }}>
                            <div class="ligne-fond top d-block"></div>
                            <div class="player left d-inline-block">
                                <span class="player_nb">{{ match.teams[0].player1 }}</span>
                            </div>
                            <div class="player right d-inline-block">
                                <span class="player_nb">{{ match.teams[0].player2 }}</span>
                            </div>
                            <div class="d-block terrain-separator"></div>
                        </div>
                        <div class="winner-selected" data-teamid={{ match.teams[1].id }} {{ stimulus_action('winner','setWinner','click') }}>
                            <div class="player left d-inline-block">
                                <span class="player_nb">{{ match.teams[1].player1 }}</span>
                            </div>
                            <div class="player right d-inline-block">
                                <span class="player_nb">{{ match.teams[1].player2 }}</span>
                            </div>
                            <div class="d-block terrain-separator"></div>
                            <div class="ligne-fond bottom d-block"></div>
                        </div>
                        <div class="right corridor"></div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% if match.teams[1].replayed is defined and match.teams[1].replayed %}
                <small> teams 2 replayed </small>
            {% endif %}
        {% endfor %}
        </div>
        <p class="h6 text-center mb-5"><b>Coin buvette :</b> 
                <span class="substitute">
                    {% for sub in subs %}
                        {{ sub }}
                    {% endfor %}
                </span>
        </p>
         <div class="d-grid gap-2 d-md-block text-center">
        {% if endoftournament %}
            <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn }) }}" class="btn btn-primary btn-next-turn" role="button"> Fin du tournoi </a>
            <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn - 1 }) }}" class="btn btn-primary btn-prev-turn"> Tour précédent </a>
        {% else %}

            <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn + 1 }) }}" class="btn btn-success btn-next-turn d-inline w-auto m-auto me-1" role="button"> Tour suivant </a>
            {% if turn %}
                <a href="{{ path('matches.show', {'id' : tournamentid,'turn' : turn - 1 }) }}" class="btn btn-warning btn-next-turn d-inline w-auto m-auto ms-1" role="button"> Tour précédent </a>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
